body {
	font-family: "Roboto", sans-serif;
}
.bg-black-alpha {
	background-color: rgba(0, 0, 0, 0.5);
	font-family: 'Bebas Neue', sans-serif;
}
h1 {
	font-family: 'Bebas Neue', sans-serif;
	font-size: 6rem;
}
h2 {
	font-family: 'Bebas Neue', sans-serif;
	font-size: 3rem;
}
p {
	font-size: 1.4rem;
}
#logo-image {
	max-width: 50px;
}
.card ul li {
	font-size: 1.2rem;
}
.card {
	border: black solid 0.1rem;
}
.form-label {
	font-weight: bold;
	font-size: 1.25rem;
}
.card-specialty {
	margin-bottom: 1.7rem;
}
.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}
#services-home, .book-appointment, .complete-booking, .btn-contact {
	border-radius: 50px;
	border: 0.2rem solid white;
	background-color: #FF9533;
	color: white;
	padding: 10px 20px;
	font-size: 1.4rem;
	transition: background-color 0.2s;
}
.button-center {
	display: flex;
	justify-content: center;
}
#home-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90vh;
}
.form-container {
	max-width: 800px;
	margin: auto;
}
.help-text {
	font-size: 0.875rem;
	color: #6c757d;
}
.title-text {
	text-align: center;
	font-size: 12rem;
	color: white;
	padding: 2rem 5rem;
}
.text-sub {
	text-align: center;
	font-size: 3rem;
	color: white;
}
#background-image {
	width: 100%;
	height: 100vh;
	object-fit: cover;
	object-position: top;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}
.navbar-brand img {
	margin-left: 4rem;
}
.nav-link {
	border-radius: 10px;
	padding: 10px 20px;
	transition: background-color 0.2s
}
.nav-link:hover {
	background-color: #fc7a00;
	color: white;
}
.navbar-nav .nav-item .nav-link {
	font-size: 1.4rem;
	color: white;
}
.book-appointment:hover, #services-home:hover, .complete-booking:hover, .btn-contact:hover {
	border: 0.2rem solid white;
	background-color: #fc7a00;
	color:white;
}
