<!DOCTYPE html>
<html lang="en">
<head>
  <title>Services</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="../styles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
    </style>
</head>
<body>
  <nav class="navbar bg-dark mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img id="logo-image" src="logo.png" alt="Logo" class="img-fluid">
        </a>
        <ul class="navbar-nav flex-row ms-auto">
            <li class="nav-item me-5">
                <a class="nav-link" href="../index.html">Home</a>
            </li>
            <li class="nav-item me-5">
                <a class="nav-link" href="services.html">Services</a>
            </li>
            <li class="nav-item me-5">
              <a class="nav-link" href="team.html">Team</a>
            </li>
            <li class="nav-item me-5">
                <a class="nav-link" href="contact.html">Contact</a>
            </li>
        </ul>
        <button class="btn me-5 book-appointment" onclick="window.location.href='booking.html'">Book Appointment</button>
    </div>
</nav>

<div class="container mt-5">
    <div class="row">
      <div class="col-12 text-center">
        <h1>Our Services</h1>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="card h-100">
          <img src="../Assets/shave.jpg" class="card-img-top" alt="Shave">
          <div class="card-body">
            <h3 class="card-title text-center">Shave</h3>
            <p>Experience a traditional and refreshing shave, leaving your skin smooth and rejuvenated.</p>
            <ul>
                <li>Beard fade: $15</li>
                <li>Head shave: $30</li>
                <li>Hot shave: $20</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card h-100">
          <img src="../Assets/haircut.jpg" class="card-img-top" alt="Haircut">
          <div class="card-body">
            <h3 class="card-title text-center">Haircut</h3>
            <p>Transform your look with our expert hair cutting and styling services, tailored to suit your individual style and preferences.</p>
            <ul>
                <li>Woman’s haircut: $55</li>
                <li>Kid’s haircut: $25</li>
                <li>Men’s haircut: $40</li>
                <li>Bangs: $15</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card h-100">
          <img src="../Assets/styling.jpg" class="card-img-top" alt="Styling">
          <div class="card-body">
            <h3 class="card-title text-center">Styling</h3>
            <p>Elevate your hairstyle with our professional styling techniques, whether you're looking for sleek sophistication or casual elegance.</p>
            <ul>
                <li>Blowout: from $50</li>
                <li>Heat styling: from $35</li>
                <li>Bridal: from $350</li>
              </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4">
        <div class="card h-100">
          <img src="../Assets/perm.jpg" class="card-img-top" alt="Perms">
          <div class="card-body">
            <h3 class="card-title text-center">Perms</h3>
            <p>Achieve beautiful and long-lasting curls or waves with our perm services, adding volume and texture to your hair.</p>
            <ul>
                <li>Full perm: $100</li>
                <li>Specialty perm: $125</li>
              </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card h-100">
          <img src="../Assets/straightening.jpg" class="card-img-top" alt="Straightening">
          <div class="card-body">
            <h3 class="card-title text-center">Straightening</h3>
            <p>Say goodbye to frizz and hello to silky-smooth locks with our hair straightening treatments, leaving your hair effortlessly sleek and manageable.</p>
            <ul>
                <li>Curl reduction: $130</li>
                <li>Thermal curl service: $300</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card h-100">
          <img src="../Assets/coloring.jpg" class="card-img-top" alt="Coloring">
          <div class="card-body">
            <h3 class="card-title text-center">Coloring</h3>
            <p>Enhance your natural beauty or try something new with our range of hair coloring services, from subtle highlights to bold and vibrant hues.</p>
            <ul>
                <li>Color: from $90</li>
                <li>Full highlights: $120</li>
                <li>Partial highlights: $65</li>
                <li>Grey blending: $30</li>
              </ul>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12">
          <div style="height: 3rem;"></div> 
        </div>
      </div>
    </div>
  </div>
  

</body>
</html>